.task-wrapper{
    .title-beam{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 4rem;
        //align-items: center;

        margin-bottom: 5rem;
    }
    .buttons{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        gap: 2rem;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .task-wrapper{
        .title-beam{
            margin-bottom: 3rem;
            flex-direction: row;
        }
        .buttons{
            margin-top: 7.5rem;
            flex-direction: row;
            justify-content: flex-end;

            gap: 4rem;
        }
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1680px) {

}

@media (min-width: 1920px) {
}
