.tab-wrapper{
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;

    column-gap: 3rem;
    row-gap: 2rem;

    margin-bottom: 4.5rem;

    .btn{
        flex-shrink: 0;

        &:last-child{
            margin-right: 0;
        }
    }
}

.auth-form{
    //max-width: 550px;
    .btn-wrapper{
        margin-top: 3.5rem;

        display: inline-flex;
        width: 100%;

        justify-content: flex-end;
    }
}


.main-nav{
    box-shadow: 0 1px 8px 0 #00000040;


    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;

    background-color: #fff;

    //margin-bottom: 6rem;


    .nav-wrapper{
        height: var(--navbar-height);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            height: 40px;
        }
    }
}

.task-list{
    position: relative;

    .task-new{
        position: sticky;

        background-color: white;
        padding: 2rem 0 2rem;

        width: 100%;
        bottom: 0;
    }
}

@media (min-width: 576px) {
    .task-list{
        .task-new{
            padding: 2rem 0 3rem;
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .main-nav{
        .nav-wrapper{
            //height: 90px;

            .logo{
                height: 45px;
            }
        }
    }
    .task-list{
        .task-new{
            padding: 3rem 0 4rem;
        }
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
    .main-nav{
        .nav-wrapper{
            //height: 100px;

            .logo{
                height: 50px;
            }
        }
    }
}

@media (min-width: 1680px) {

}

@media (min-width: 1920px) {
    .main-nav{
        .nav-wrapper{
            //height: 110px;

            .logo{
                height: 55px;
            }
        }
    }
}

