@use "sass:map";
@import "~materialize-css/sass/materialize";

$main: map.get($orange, 'base');

.auth-form-container{
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-wrapper{
        flex-basis: 50%;
        .form{
            margin-top: 2rem;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 2rem;

            .input-field{
                grid-column: span 2;
            }
            .half-width{
                grid-column: span 1;
            }
        }
    }
}

.tab-wrapper{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $main;
    .tab{
        padding: 1.5rem 3rem;
        margin: 0;

        border: none;
        background-color: inherit;

        flex-basis: 50%;


        &.tab-active{
            border-bottom: 2px solid $main;
            font-weight: bold;
            color: $main;
        }
    }
}

.task-list{
    margin: 4rem 0 3rem;

    .task{
        display: flex;
        justify-content: space-between;
        padding: 1rem .4rem;
        border-bottom: 1px solid #d3d3d3;

        .done{
            text-decoration: line-through;
        }

        .remove{
            margin-left: 1rem;
            color: inherit;
            text-decoration: none;

            &:hover{
                color: map.get($red, 'base');
            }
        }

        input:checked + .toggle::after{
            background-color: $main !important;
            border: 2px solid $main !important;
        }


        input:hover + .toggle{
            &::after{
                background-color: $main !important;
                border: 2px solid $main !important;
            }

            &::before{
                top: 0;
                left: 1px;
                width: 8px;
                height: 13px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotateZ(37deg);
                transform-origin: 100% 100%;
            }
        }

    }
}

.input-field{
    input{
        &:focus{
            border-bottom: 1px solid $main !important;
            box-shadow: 0 1px 0 0 $main !important;

            & + label{
                color: $main !important;
            }
        }
    }
}

.btn{
    margin-top: 2rem;
}

